<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">


<title>BidwiT</title>
</head>
<body>
	<h1>BidwiT</h1>
	<nav class="nav-container">
		<ul class="nav-list-with-acceuil">
			<li><a href="/Accueil" class="nav-link">Accueil</a></li>
			<li><a href="/CreerCompte" class="nav-link">S'inscrire</a></li>
			<li><a href="/Connexion" class="nav-link">Se connecter</a></li>
			<li><a href="/NouvelleVente" class="nav-link">Vendre un
					article</a></li>
		</ul>
	</nav>
	<form action="@{/session}" th:object="${utilisateur}" method="post" 
		class="Connexion">
		<div class="Connexion">
			<label for="email">Identifiant: </label> <input type="text"
				th:field="*{email}" name="email" id="email" required>
		</div>
		<div class="Connexion">
			<label for="mdp">Mot de passe: </label> <input type="password"
				th:field="*{motDePasse}" name="motDePasse" id="motDePasse" required>
		</div>
		<div class="Connexion">
			<input type="submit" value="Connexion"> <input
				type="checkbox" id="SeSouvenir" name="SeSouvenir"> <label
				for="SeSouvenir">Se souvenir de moi</label> <a href="">Mot de
				passe oubliée</a>
		</div>

	</form>
	<form action="/CreerCompte" method="get">
		<button type="submit">Créer un compte</button>
	</form>

</body>
</html>