<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
	rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">

<title>BidwiT</title>
</head>
<body>
	<h1>
		<a href="/Accueil" class="lien_bidwit">BidwiT</a>
	</h1>
	<nav class="nav-container">
		<ul class="nav-list-with-acceuil">
			<li><a href="/Accueil" class="nav-link">Accueil</a></li>
			<li><a href="/CreerCompte" class="nav-link">S'inscrire</a></li>
			<li><a href="/Connexion" class="nav-link">Se connecter</a></li>
			<li><a href="/NouvelleVente" class="nav-link">Vendre un
					article</a></li>
		</ul>
	</nav>
	<h2 class="h2_inscription">Prêt-e à remporter votre première enchère?</h2>
	<h3 class="h3_inscription">Saisissez vos informations pour vous inscrire</h3>
	
	<form th:action="@{/CreerCompte}" th:object="${utilisateur}"
		method="post" class="inscription_container">


		<div class="form_aligne">

			<div class="inscription_box">
				<label for="pseudo" style="min-width: 7ch;">Pseudo: </label> <input type="text"
					th:field="*{pseudo}" required>
			</div>
			<div class="inscription_box">
				<label for="rue" style="min-width: 9.2ch;">Rue: </label> <input type="text" th:field="*{rue}"
					required>
			</div>
		</div>

		<div class="form_aligne">

			<div class="inscription_box">
				<label for="prenom" style="min-width: 7ch;">Prenom: </label> <input type="text"
					th:field="*{prenom}" required>
			</div>
			<div class="inscription_box">
				<label for="CP" style="min-width: 9.2ch;">Code postal: </label> <input type="text"
					th:field="*{codePostal}" required>
			</div>
		</div>




		<div class="form_aligne">

			<div class="inscription_box">
				<label for="nom" style="min-width: 7ch;">Nom: </label> <input type="text" th:field="*{nom}"
					required>
			</div>
			<div class="inscription_box">
				<label for="ville" style="min-width: 9.2ch;">Ville: </label> <input type="text"
					th:field="*{ville}" required>
			</div>
		</div>



		<div class="form_aligne">

			<div class="inscription_box">
				<label for="email" style="min-width: 7ch;">Email: </label> <input type="email"
					th:field="*{email}" required>
			</div>
			<div class="inscription_box">
				<label for="mdp" style="min-width: 8.5ch;">Mot de passe </label> <input type="password"
					th:field="*{motDePasse}" required>
			</div>
		</div>


		<div class="form_aligne">

			<div class="inscription_box">
				<label for="tel" style="min-width: 7ch;">Telephone: </label> <input type="tel"
					th:field="*{telephone}" required>
			</div>


			<div class="inscription_box">
				<label for="mdp" style="min-width: 7ch;">Mot de passe </label> <input type="password"
					th:field="*{motDePasse}" required>
			</div>
		</div>

		<!--<div class="MonProfil">
			<label for="mdpConfirm">Confirmation: </label> <input type="password"
				th:field="*{mdpConfirm}" required>
		</div>-->

		<div >
			<button type="submit" value="Créer" class="inscription_bouton">Valider</button>
		</div>
	</form>

<!--  
	<form action="/Acceuil" method="get" class="accueil_bouton">
		<button type="submit">Accueil</button>
	</form>
-->

</body>
</html>