<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
	rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">

<title>BidwiT</title>
</head>
<body>
	<h1>
		<a href="/Accueil" class="lien_bidwit">BidwiT</a>
	</h1>

	<h3 class="h3_article">Vente</h3>
	<nav class="nav-container">
		<ul class="nav-list-membre">
			<li><a href="/CreerCompte" class="nav-link">S'inscrire</a></li>
			<li><a href="/Connexion" class="nav-link">Se connecter</a></li>
			<li><a href="/NouvelleVente" class="nav-link">Vendre un
					article</a></li>
			<li><a href="/profil" class="nav-link">Mon Profil</a></li>
			<li><a href="/SeDeconnecter" class="nav-link">Deconnexion</a></li>
		</ul>
	</nav>

	<form class="barre-recherche">
		<input type="search" id="maRecherche" name="filtre"
			placeholder="Rechercher des articles">
		<button>Rechercher</button>
	</form>

	<form action="/encherir" th:object="${article}" method="post"
		class="DetailVente">


		<table class="tab_info_article">

			<tr>

				<th>Article :</th>
				<td data-th-text="${article.nomArticle}"></td>
			</tr>

			<tr>
				<th>Mise à prix :</th>
				<td data-th-text="${article.prixInitial}"></td>
			</tr>

			<tr>
				<th>Fin de l'enchère :</th>
				<td data-th-text="${article.dateFinEncheres}"></td>
			</tr>


		</table>


		<table class="tab_info_vendeur">


			<tr>
				<th>Vendeur :</th>
				<td data-th-text="${article.vendeur.pseudo}"></td>
			</tr>

			<tr>
				<th>Retrait :</th>
				<td data-th-text="${article.vendeur.rue}"><br>
				<td data-th-text="${article.vendeur.codePostal}"></td>
				<td data-th-text="${article.vendeur.ville}"></td>
			</tr>


		</table>


		<div class="description-enchere">
			<h4>Description de l'enchère :</h4>
			<div class="encadre-description"
				data-th-text="${article.description}"></div>
		</div>

<input type="hidden" name="montantEnchere" th:value="${montantEnchere}">
<div class="meilleure-offre">
    <p>Meilleure offre :</p>
 <!--    <p data-th-text="${enchere.montantEnchere}"></p>--> 
</div>

<!--
		<div class="offre_article">
			Meilleure offre :

			 data-th-text="${enchere.montantEnchere}"

			<input type="number" id="propositionAcheteur" name="montantEnchere"
				th:value="${montantEnchere}">
		</div>
-->

		<button type="submit">Enchérir</button>

	</form>



</body>
</html>