<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
	rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">


<title>BidwiT</title>
</head>
<body>
	<h1><a href="/Accueil" class="lien_bidwit">BidwiT</a></h1>
	<nav class="nav-container">
		<ul class="nav-list-with-acceuil">
			<li><a href="/Accueil" class="nav-link">Accueil</a></li>
			<li><a href="/CreerCompte" class="nav-link">S'inscrire</a></li>
			<li><a href="/Connexion" class="nav-link">Se connecter</a></li>
			<li><a href="/NouvelleVente" class="nav-link">Vendre un
					article</a></li>
		</ul>
	</nav>
	<header>  <img src="images/vente_enchere.jpg" alt="Description de l'image" class="image_connexion"></header>
	
	
	<h2 class="h2_connexion">Vous avez déjà un compte? Connectez-vous!</h2>

	<form th:action="@{/session}" method="post" class="connexion_container">

		<div class="connexion_box">
			<label for="pseudo">Identifiant: </label> <input type="text"
				name="pseudo" id="pseudo" required>
		</div>

		<div class="connexion_box">
			<label for="motDePasse">Mot de passe: </label> <input type="password"
				name="motDePasse" id="motDePasse" required>
		</div>

		<div class="connexion_box">
			<input type="submit" value="Connexion"> <input
				type="checkbox" id="SeSouvenir" name="SeSouvenir"> <label
				for="SeSouvenir">Se souvenir de moi</label> <a href="">Mot de
				passe oublié</a>
		</div>

	</form>

	<h3 class="h3_connexion">Vous ne faites pas encore parti-e des nôtres?</h3>


	<form action="/CreerCompte" method="get">
		<button type="submit" class="creer_compte_bouton_connexion">Créer un
			compte</button>
	</form>
</body>
</html>

<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<h1>ENI-Encheres</h1>
	<form action="@{/session}" method="post">
		<div class="Connexion">
			<label for="email">Identifiant: </label> <input type="text"
				th:field="*{email}" required>
		</div>
		<div class="Connexion">
			<label for="mdp">Mot de passe: </label> <input type="password"
				th:field="*{motDePasse}" required>
		</div>
		<div class="bouton">
			<button type="submit" value="Créer">Connexion</button>
		</div>

		<div>
			<input type="checkbox" id="SeSouvenir" name="SeSouvenir"> <label
				for="SeSouvenir">Se souvenir de moi</label> <a href="">Mot de
				passe oubliée</a>
		</div>

	</form>

	<a th:href="@{/CreerCompte}">Créer un compte</a>

</body>
</html>
-->